*.class
*target*
*.war
.classpath
/.classpath

# eclipse specific git ignore
*.pydevproject
.project
.classpath
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.gitignore
.settings/
.loadpath
lab02/*.class

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

